<h2>Restyle Me</h2>



<div class="mainheader">
  <img src="http://i.imgur.com/ki1OXTw.jpg" class="img-responsive" alt="Responsive image"/></a>
</div>


<div class="mainlinks">
<% if @current_user.present? %>
	<a href="/searches/new">Search</a>
	<a href="/items/new">Create new</a>
<% end %>
</div>



<div class="row">
  <div class="col-sm-4">Suspendisse dapibus ex egestas, dapibus ex nec, tempus dui. Nulla iaculis pulvinar orci eu porta. Proin ullamcorper congue lorem ac pellentesque. Proin at turpis non nisi ultrices efficitur vitae vel metus. Nunc sagittis, est nec interdum aliquet, magna justo tristique quam, posuere hendrerit orci arcu eu ligula. Donec ante libero, venenatis eget semper ut, vehicula nec lorem. Nam vel quam velit. Aenean commodo, ex quis imperdiet gravida, turpis est volutpat elit, at rhoncus magna sapien ut sem. Sed porttitor ligula sit amet nunc congue tristique. Maecenas suscipit elit sit amet semper finibus. Praesent ipsum enim, efficitur ac rhoncus eu, ultrices at ligula. Quisque consectetur, neque ut viverra euismod, dui augue dapibus sapien, ac vestibulum justo dolor sed turpis.</div>

  <div class="col-sm-4">Suspendisse dapibus ex egestas, dapibus ex nec, tempus dui. Nulla iaculis pulvinar orci eu porta. Proin ullamcorper congue lorem ac pellentesque. Proin at turpis non nisi ultrices efficitur vitae vel metus. Nunc sagittis, est nec interdum aliquet, magna justo tristique quam, posuere hendrerit orci arcu eu ligula. Donec ante libero, venenatis eget semper ut, vehicula nec lorem. Nam vel quam velit. Aenean commodo, ex quis imperdiet gravida, turpis est volutpat elit, at rhoncus magna sapien ut sem. Sed porttitor ligula sit amet nunc congue tristique. Maecenas suscipit elit sit amet semper finibus. Praesent ipsum enim, efficitur ac rhoncus eu, ultrices at ligula. Quisque consectetur, neque ut viverra euismod, dui augue dapibus sapien, ac vestibulum justo dolor sed turpis.</div>

<div class="clearfix visible-xs-block"></div>

  <div class="col-sm-4">Suspendisse dapibus ex egestas, dapibus ex nec, tempus dui. Nulla iaculis pulvinar orci eu porta. Proin ullamcorper congue lorem ac pellentesque. Proin at turpis non nisi ultrices efficitur vitae vel metus. Nunc sagittis, est nec interdum aliquet, magna justo tristique quam, posuere hendrerit orci arcu eu ligula. Donec ante libero, venenatis eget semper ut, vehicula nec lorem. Nam vel quam velit. Aenean commodo, ex quis imperdiet gravida, turpis est volutpat elit, at rhoncus magna sapien ut sem. Sed porttitor ligula sit amet nunc congue tristique. Maecenas suscipit elit sit amet semper finibus. Praesent ipsum enim, efficitur ac rhoncus eu, ultrices at ligula. Quisque consectetur, neque ut viverra euismod, dui augue dapibus sapien, ac vestibulum justo dolor sed turpis.</div>
</div> 