<div class="background">
  <img src="//i.imgur.com/btoMubG.jpg"></a>
</div><br>

<div class="writing"><br>
  <p>The Road to Fashion </p>
  <h1>Restyle Me<h1>
</div>

<div class="mainlinks">
    <i class="glyphicon glyphicon-searc"></class>    
</div><br>

<div class="row"> 
  <div class="welcome">
  	<h1><a href="/users/new">Sign up </a></h1>
  		<p>To get started, all you have to do is create an account and sign in. It really is that simple! Once you have created an account, you can start uploading and sharing your second hand clothes. </p>
  </div>

  <div class="welcome">
		<h1><a href="/items/new">Upload</a></h1>
			<p>When uploading, enter the name, price, size and short description of your item, as well as your preffered contact information. Not only will this help buyers find your item, but will allow others to make an informed decision to ensure that your clothing goes to that perfect person!</p>
  </div>

	<div class="clearfix visible-xs-block"></div>
  	<div class="welcome">
			<h1><a href="/searches/new">Search</a></h1>
				<p>Once you've uploaded your item, you can search for clothes through categories that are specific to your interest and need. The process of connecting buyers and sellers of second-hand clothing now becomes a stess free situation! </p></class>
  	</div>
	</div> 
</div>
