<form action="item" method="post">
	<label>Name:</label>
	<input type="text" name="item[name]" value="<%= @item.name %>" autofocus>
	<label>Image:</label>
	<input type="text" name="item[image]" value="<%= @item.image %>">


	<button>Upload Item!</button>
</form>