body {
	text-align: center;
	background-color: white;
	font-family: Arial;
}

header {
	font-size: 34px;
	text-align: center;
	background-color: black;
	height: 50px;
	color: white;
}


*
*= require_tree .
*= require_self

*