body {
	text-align: center;
	background-color: #F5E0FF;
	font-family: Arial;
}

header {
	font-size: 34px;
	text-align: center;
	background-color: #766180;
	height: 50px;
	color: white;
}

\
*
*= require_tree .
*= require_self

*/