@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body {
  margin-left: 8%;
  margin-right: 8%;
  padding-top: 60px;
}

h1 {
  font-family: Shadows into light;
}

.welcome p {
  color: white;
  font-family: Lato;
  font-weight: lighter;
  font-size: 22px;
}

.welcome h1 {
  color: white;
  font-family: Lato;
  text-align: center;
}

.welcome {
  display: inline-block;
  max-width: 300px;
  margin-left: 30px;
}

.mainlinks {
  text-align: center;
  font-size: 30px;
}

h2 {
  text-align: center;
}

.navbar-inverse {
  opacity: 0.8;
  color: white;
  font-weight: bold;

}

.background img {
  position: fixed; 
  top: 0%; 
  left: 0%; 
  width: 100%; 
  height: 150%;
}

.background img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.field_with_errors {
  display: inline;
}

div.clothes-index img{
  height: 270px;
  width: auto;
  display: inline;
  text-align: center;
}

.clothes-index {
  font-size: 24px;
  display: inline-block;
  font-family: Shadows into light;

}

.link {
  margin: 0 0 0 120px;
  position: relative;
}

.showimage img {
  height: 400px;
  width: auto;
  text-align: center;
  z-index: -1;
  position: fixed;
}

.row {
  display: inline-block;
  margin-bottom: 50px;
  margin-right: -15px;

}

.checkbox {
  margin-top: 600px;
  width: 520px;
  margin-left: 20px;
  padding: 5px;
}

.checkbox li {
  display: inline-block;
  min-width: 105px;
  margin: 20px;
  color: black;
}

.checkbox item {
  margin: 0 0 0 -120px;
}

.glyphicon {
  margin-left: 40px;
}

.writing {
  color: white;
  font-size: 50px;
  z-index: 1;
  position: relative;
  text-align: center;
  font-family: Shadows into light;
}

.showclothes {
  text-align: center;
  border: 2px solid;
  font-family: Shadows into light;
  width: 400px;
  height: auto;
  text-align: center;
  margin-left: 350px ;
}

.showclothes img {
  width: 300px;
  height: auto;
  text-align: center;
}

.heading {
  font-size: 140px;
  font-family: Lato;
}


.about {
  width: 700px;
  text-align: center;
  font-size: 30px;
  font-family: Lato;
  margin-left: 230px;
  padding-top: 30px;

}

.about h1 {
  font-size: 60px;
}

h1 a :hover {
  font-color: white;
}

a {
color: white;
text-decoration: none;
}

.para {
  font-family: Lato;
}

.login {
  text-align: center;
  margin-top: 100px;
}

.loginheading {
  text-align: center;
}

.newuser {
  text-align: center;
  margin-left: 35%;
  padding-top: 10px;
}

.new {
  font-size: 36px;
  text-align: center;
  margin-left: -48%;
  padding-bottom: 20px;
}

.items {
  padding-left: 64%;
  width: 147%;
}